@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

body {
    margin: 0;
    padding: 0;
    height: 0;
    font-family: 'Tomorrow', sans-serif;
}

/*as default*/
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}


.p_attributes {
    margin: 0;
}

.topnav {
    background: #cec9b1;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #355c7d;
}

.topnav a {
    color: #6C5B7B;
    /*text-decoration: none;*/
    transition: all 0.3s ease 0s;
    margin: 0 30px;
    height: 100%;
    padding: 0.55em;
    font-size: 23px;
}

.topnav a:hover {
    color: #F8B195;
    text-decoration: none;
}

.topnav ul {
    margin: 0 auto;
}

.card_3d {
    width: auto;
    height: auto;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
}

.card_3d:hover {
    border-radius: 10px;
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.circles_3d {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 1000px;
    position: absolute;
}

svg {
    margin: 0 auto;
    width: 70vw;
    max-width: 300px;
    font-weight: 800;
    font-size: 10em;
    display: block;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    opacity: 10%;
}

#bg {
    fill: #ffe2b8;
}

#sweater > path:nth-child(1) {
    fill: #60d882;
}

#sweater > path:nth-child(2) {
    fill: #37c47a;
}

#sweater > path:nth-child(3) {
    fill: #37c47a;
}

#face > path:nth-child(1) {
    fill: #ffe2b8;
}

#face > path:nth-child(2) {
    fill: #ffc987;
}

#eye > path:nth-child(2) {
    fill: #f0f0f0;
}

#eye > g:first-of-type > path:nth-child(1) {
    fill: #159e97;
}

#eye > g:first-of-type > path:nth-child(2) {
    fill: #0f9390;
}

#eye > g:last-of-type > path:nth-child(2) {
    fill: #231f20;
}

#mouth > path:nth-child(1) {
    fill: #f24976;
}

#mouth > path:nth-child(2) {
    fill: #b7092b;
}

#mouth > path:nth-child(3) {
    fill: #a00026;
}

#mouth > path:nth-child(4) {
    fill: #ffffff;
}

#hair > path:nth-of-type(1) {
    fill: #62317c;
}

#hair > path:nth-of-type(2) {
    fill: #62317c;
}

#hair > path:nth-of-type(3) {
    fill: #62317c;
}

.effectcs_3d {
    width: 100%;
    height: 60%;
    position: absolute;
    /*border: 1px solid black;*/
    margin: 0 auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    font-size: 20px;
    /*border: 1px solid orange;*/
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
}

.nav_links li a {
    color: #6C5B7B;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #F8B195;
}

.link_active {
    /*font-weight: bold;*/
    background: #e2dfd0;
    height: auto;
}

.container_home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: orange;
    position: relative;
}

@media screen and (max-width: 600px) {
    .topnav {
        display: block;
        background: #cec9b1;
        transition: all 0.3s ease 0s;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        transition: all 0.3s ease 0s;
        /*padding: 0;*/
    }

    .icon-div {
        background: #cec9b1;
        width: 100%;
        height: 60px;
        display: block;
        transition: all 0.3s ease 0s;
    }

    .about_me_div {
        width: auto !important;
    }

    .card-columns .card{
        margin-bottom: 1em !important;
    }

    .div-contact{
        width: 70% !important;
    }

    .home_div{
        width: 70% !important;
        margin: 10% 0 !important;
    }

    .header{
        padding: 0.5em !important;
        overflow: hidden;
    }

    .about_me{
        width: 100% !important;
    }

}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        transition: all 0.3s ease 0s;
        padding: 0
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        float: right;
        transition: all 0.3s ease 0s;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .responsive .icon-div {
        display: none;
    }
}

.topnav .icon {
    display: none;
}


/* ----- Home.css ----- */

.body {
    width: auto;
    height: 100%;
    background-color: #e2dfd0;
    padding: 2em;

}

.body-home {
    width: auto;
    height: 1000px;
    background-color: #e2dfd0;
    padding: 2em;
}

.body-home h1{
    text-align: center;
    padding: 0.1em;
    font-size: 30px;
    text-decoration: underline #6C5B7B;
}

.home_div {
    background-color: #cec9b1;
    text-align: center;
    margin: 40px auto;
    width: 50%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: absolute;
}

.header {
    margin: 0 auto;
}

.info {
    width: auto;
    height: 100%;
    display: flex;
}

.saxion_photo {
    padding-top: 1em;
    margin: auto;
    width: 45%;
}

.saxion_photo img {
    float: left;
    clear: left;
    max-height: 100%;
    max-width: 100%;
}

.about_me {
    width: 55%;
    /*min-width: 150px;*/
    padding: 1em;
    height: auto;
    margin: auto;
}

/* ----- AboutMe.css ----- */

.about_me_div {
    width: 25%;
    border: 1px solid black;
    background-color: #cec9b1;
    padding: 0.2em;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.skills_header {
    display: flex;
}


.skills_header:hover {
    opacity: 20%;
}

.my_image {
    width: 50%;
    padding: 1em;
    margin: auto;
}

.my_image img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.server-client-img{
    padding: 1em;
}

.explicitInfo {
    background-color: #cec9b1;
    width: 70%;
    height: auto;
    margin: 20px auto;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 10;
}

.explicitInfo h1{
    padding: 0.2em;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.skills {
    width: 50%;
    padding: 1em;
    text-align: center;
}

.skills li {
    list-style-type: none;
}

.projects {
    border: 1px solid black;
    width: 70%;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.cards_list {
    padding: 1em;
}

.card {
    background-color: #ffefcc !important;
}

.card-title {
    text-align: center;
    font-size: 25px;
}

.projects_header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid black;
    width: auto;
    background: #cec9b1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #6C5B7B;
    background-color: #cec9b1;
    padding: 1em;
    margin: 40px auto;
}

.project h1 {
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .about_me h2 {
        margin-top: 20%;
    }

    .projects {
        width: 95%;
    }

    .carousel_image {
        width: 95%;
    }

    .home_div {
        background-color: #cec9b1;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        border: 1px solid black;
    }

    .about_me {
        max-width: 98%;
        /*height: auto;*/
    }

    .saxion_photo {
        width: 85%;
        margin: auto;
    }

    .info {
        display: block;
    }
}

.underline_project {
    width: auto;
    border-bottom: 1px solid black;
}

.underline {
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid black;
}

.vapeshop {
    margin-top: 10px;
    /*border: 1px solid red;*/
    display: flex;
}

.explanation {
    width: 60%;
    height: 100%;
    /*border: 1px solid green;*/
    padding: 0.5em;
}

/*.carousel{*/
/*  max-width: 500px;*/
/*  min-width: 40%;*/
/*  border: 1px solid blue;*/
/*  padding: 1em;*/
/*}*/

.carousel_image {
    padding: 1em;
}

.carousel_image img {
    width: 100%;
    height: 100%;
}

.project h2 {
    margin-top: 10px;
    text-align: center;
    color: #6C5B7B;
}

.vapeshop .explanation {
    margin: auto;
    text-align: center;
    font-size: 120%;
}

/*background-color: #cec9b1;*/
/*text-align: center;*/
/*margin: 40px auto;*/
/*width: 50%;*/
/*padding: 1em;*/
/*border: 1px solid black;*/
/*border-radius: 15px;*/
/*box-shadow: 0 0 10px rgba(0,0,0,0.7);*/
/*position: absolute;*/
/*---------- Contacts ----------*/

.col-sm-2{
    margin: auto !important;
}

.div-contact {
    border: 1px solid black;
    background-color: #cec9b1;
    margin: 30px auto;
    width: 40%;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.div-contact h1 {
    text-align: center;
}

.contact-form {
    margin: 0 auto;
    border: 1px solid yellow;
    text-align: center;

}

.input_form {
    display: inline-block;
    border: 1px solid black;
    margin: 10px auto;
    padding: 1em;
}

.text-muted {
    vertical-align: middle;
}

.text-muted {
    border: 1px solid orange;
    float: left;
}

.text-primary {
    border: 1px solid purple;
    margin-left: 10px;
    float: right;
}

#exampleSubject, #exampleText, #exampleName, #exampleEmail {
    opacity: 65% !important;
}


.btn_submit {
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
}

.footer {
    color: black;
    padding: 1em;
    text-decoration: underline;
    letter-spacing: 2px;
    margin:  auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    /*background: url(/wp-content/themes/september2018/images/bg_footer2.png) left top repeat-x, url(/wp-content/themes/september2018/images/bg_footer3.png) left top repeat;*/
}

.footer h1 {
    font-size: 15px;
}


.btn_submit:hover {
    opacity: 1
}